body{
    background: rgb(186, 186, 231) ;
   margin:auto;
    width:60%;
     
}
.randnbr{
    background: wheat;
    height: 60px;
    width: 100%;
    padding: 5px;
    text-align: center;
}
.header h1{
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
}
.header3 p{
    font-size: 10px;
    font-family:  Arial, sans-serif;
    font-weight: 900;
    margin-left: 50%;
    text-transform: capitalize;
}
.header input{
    background-color: darkolivegreen;
    font-style: oblique;
border-radius: 400px;
cursor: pointer;

margin-left:50%;
margin-bottom: 30px;
}
.header4 input{
    border-radius: 500px;
    background-color: bisque;
    height:50px ;
    text-align: center;
    margin-left: 40%
}
.header4 input:hover{
    background: #333;
color: #fff;
}

.header input:hover{
    background: #333;
color: #fff;
}
.analyse {
    
    background-color: darkolivegreen;
    font-style: oblique; 
    border-radius: 400px;
    cursor: pointer;
    margin-top:10;  
    margin-left:50%;
}
.chek{
    margin-top: 20px;
    padding:10px;
    font-size: 30px;
    background-color: aquamarine;
    border-radius: 600px;
    text-align: center;  
    width:100%;  
}
